<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="option-cart-item-loop" class="Option\Loop\OptionCartItem"/>
        <loop name="option-product-loop" class="Option\Loop\OptionProductLoop"/>
        <loop name="product-available-option-loop" class="Option\Loop\ProductAvailableOptionLoop"/>
    </loops>

    <services>
        <service id="option.category.service" alias="Option\Service\BackOffice\OptionCategoryService" public="true">
        </service>
    </services>

    <hooks>
        <!-- Module configuration -->
        <hook id="option.configuration" class="Option\Hook\Back\ConfigurationHook">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration"/>
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigurationJs"/>
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back" method="onMainTopMenuTools"/>
            <argument type="service" id="option.category.service"/>
        </hook>

        <!-- Product Hook -->
        <hook id="option.product_tab" class="Option\Hook\Back\ProductEditHook">
            <tag name="hook.event_listener" event="product.tab" type="back" method="onProductTab"/>
            <tag name="hook.event_listener" event="product.edit-js" type="back" method="onProductEditJs"/>
        </hook>

        <!-- Order product Hook -->
        <hook id="option.order.product_tab" class="Option\Hook\Back\OrderProductHook">
            <tag name="hook.event_listener" event="order-edit.product-list" type="back" method="onOrderEditProductList" />
        </hook>
    </hooks>
</config>
